<mat-card [ngClass]="{'text-center': !fullwidthMode}">
    <div class="margin-div" [ngClass]="{flex: fullwidthMode}">
        <img class="mx-auto h-[200px]" [ngClass]="{'h-200px': !fullwidthMode, 'h-[360px]': fullwidthMode}"
            src="https://via.placeholder.com/150" />
        <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between': fullwidthMode}">

            <div>
                <h5>Product</h5>
                <p class="truncate hover:whitespace-normal">Sneakers</p>
                <p *ngIf="fullwidthMode">Description</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{"150" | currency}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>