mat-card {
    margin: auto
}

.quantity-selector {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.quantity-value {
    margin: 0 6px;
}

.empty-card {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}